*{
  margin: 0 ;
  padding: 0 ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Fonts*/
--work: 'Work Sans', sans-serif;

/* Colors*/
--h2o: #7bd4cc;
--honey: #e4da55;
--army: #7b895b;
--green: #037367;
--sangria: #00281f;
--white: #fff;
/* Transition */
--transition-short: all .5s ease-in-out;
}

body{
  background-color: var(--h2o);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.topMenuInput{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px auto;
}

.topMenuInput input{
  border: 0px;
  background-color: rgba(244, 244, 244, 0.721);
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  color: var(--army);
  font-weight: 500;
  margin-left: 10px;
}

input{
  transition: all 0.1s ease-in-out;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}
th, td {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(168, 168, 168);
  padding: 6px;
  text-align: center;
  line-height: 100%;
}

tr{
  display: grid;
  grid-template-columns: 0.25fr repeat(14, 1fr);
  gap: 5px;
  justify-content: start;
}

.total-row{
  grid-template-columns: 2.33fr  repeat(12, 1fr);
}

td{
  border: 0px;
  background-color: rgba(0, 0, 0, .05);
  text-align: center;
  font-weight: 500;
  box-shadow: inset 0px 2px 5px -3px black;
  border-radius: 3px;
  margin: 2.5px 0;
}

input:focus-visible,
td:focus-visible{
  outline: 1px solid transparent;
  box-shadow: inset 0px 2px 5px -1px black;
}


td:last-of-type,
th:last-of-type{
  width: auto;
  position: absolute;
  top: 1%;
  right: 2%;
  background: transparent !important;
  border: 0px solid transparent !important;
  box-shadow: none;
  
}
#delete-sum-number{
  display: none;
}

td[contenteditable="true"] {
  background-color: #f0f0f0;
}

thead tr th {
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 100;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, .30);
  border-color: var(--h2o);
}

.addRowBtn{
  width: auto;
  position: absolute;
  top: 0.6rem;
  left: 2rem;
  font-size: 2rem;
  background-color: rgb(69, 204, 35);
  padding: .1rem .9rem;
  border: 0px solid transparent;
  outline: 0px solid transparent;
  border-radius: 50%;
  margin-top: -4rem;
  z-index: 999999999999999;
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.addRowBtn:active {
  top: 0.8rem;
  box-shadow: none;
}

.delete-btn {
  font-size: 1rem;
  font-weight: bold;
  background-color: #e23f3f;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.45);
}

.xport input{
  display: block;
  max-width: 200px;
  width: 100%;
  background: #f5ae70;
  outline: none;
  box-shadow: none;
  padding: 10px 20px;
  margin: 10px auto;
}
